
# Entornos virtuales
.venv/
venv/

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Zip. de la base de datos

/brightcart_datasets.zip


# Ignorar .csv en datos/ y en cualquier subcarpeta interna
data/raw/*.csv
data/processed/*.csv

# Excepción para el archivo de documentación
!data/README.md